<div class="container-fluid" ng-controller="usersCtrl">
    <h1>User {{notify}}</h1>
    <table class="table table-striped">
        <thead>
            <th>Edit</th>
            <th>Remove</th>
            <th>Name</th>
            <th>Age</th>
        </thead>
        <tbody>
            <tr ng-repeat='x in users'>
                <td><a href="" ng-click="changeAction('edit',x)">Edit</a></td>
                <td><a href="" ng-click="changeAction('delete',$index)">Remove</a></td>
                <td>{{x.name}}</td>
                <td>{{x.age}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-primary" ng-click="changeAction('add',null)">Create New User</button>
        <!--<form-add></form-add>-->
    </div>
    <!--Form -->
    <div ng-show='showAction'>
        <h1>{{header}}</h1>
        <table class="table ">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="txtName" class="form-control" ng-model="user.name" /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" name="txtCountry" class="form-control" ng-model="user.age" /></td>
            </tr>
        </table>
        <button type="button" name="btnSave" class="btn btn-infor" ng-click="saveAction(user)">Save</button>
    </div>

</div>